### Common ###
.git/
.idea/
.vscode/
.DS_Store/
temp/*
!temp/*.md
*.iml

### Java ###
target/
.bsp/
*.class
application-dev.properties
application-test.properties
application-prod.properties
application-dev.yaml
application-test.yaml
application-prod.yaml
application-dev.yml
application-test.yml
application-prod.yml

### Python ###
.venv/
.langgraph_api/
__pycache__/
input/
output/
storage/
*.pyc
*.cookies
*.token
config.json
config.yaml
config.yml

### Nodejs ###
node_modules/
dist/

### Plugin ###
.fastRequest/

### Secret ###
.env

### Logs ###
logs/
log/
*.log

### Documents ###
.obsidian
!wiki/**/resources
