### Common ###
.git
.idea
.vscode
.DS_Store
*.iml
temp/*
!temp/*.md

### Java ###
*.class
target/
application-dev.properties
application-test.properties
application-prod.properties
application-dev.yaml
application-test.yaml
application-prod.yaml
application-dev.yml
application-test.yml
application-prod.yml

### Python ###
__pycache__/
*.pyc
.venv/
*.cookies
*.token
input/
output/

### Node.js ###
node_modules/
dist/

### Logs ###
logs/
log/
*.log

### Env ###
.env
