# DeepSeek
DEEPSEEK_API_KEY=sk-
DEEPSEEK_BASE_URL=https://api.deepseek.com

# Aliyun - TongYi
DASHSCOPE_API_KEY=sk-
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# Tencent Cloud - HunYuan
HUNYUAN_API_KEY=sk-
HUNYUAN_BASE_URL=https://api.hunyuan.cloud.tencent.com/v1
HUNYUAN_SECRET_ID=
HUNYUAN_SECRET_KEY=

# Tencent Cloud - TokenHub
TENCENT_TOKENHUB_API_KEY=sk-
TENCENT_TOKENHUB_BASE_URL=https://tokenhub.tencentmaas.com/v1

# BigModel - ZiPu
ZAI_API_KEY=
ZAI_BASE_URL=https://open.bigmodel.cn/api/paas/v4/

# MiMo - XiaoMi
MIMO_API_KEY=sk-
MIMO_BASE_URL=https://api.xiaomimimo.com/v1

# SiliconFlow
SILICON_API_KEY=sk-
SILICON_BASE_URL=https://api.siliconflow.cn/v1

# Douyin - DouBao
ARK_API_KEY=ark-
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_AK=
ARK_SK=

# Kimi
MOONSHOT_API_KEY=sk-
MOONSHOT_BASE_URL=https://api.moonshot.cn/v1

# Nvidia
NVIDIA_API_KEY=nvapi-
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1

# Model Scope - MODA
MODA_API_KEY=ms-
MODA_BASE_URL=

# Web Search - Tavily
TAVILY_API_KEY=tvly-dev-

### ---------------------------------------

# LangSmith
LANGSMITH_API_KEY=
LAGNSMITH_TRACING=ture
LANGSMITH_PROJECT=langchain
