<?xml version="1.0" encoding="UTF-8" ?>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
@software: IntelliJ IDEA
@author: Lionel Johnson
@contact: https://fairy.host
@organization: https://github.com/FairylandFuture
@datetime: 2025-08-28 12:47:12 UTC+08:00
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host.fairy.mapper.EmployeeMapper">
    <!--@Table sky_tb_employee-->

    <resultMap id="BaseResultMap" type="host.fairy.entity.EmployeeEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="idNumber" column="id_number" jdbcType="VARCHAR"/>
        <result property="forbidden" column="forbidden" jdbcType="BOOLEAN"/>
        <result property="createdBy" column="created_by" jdbcType="INTEGER"/>
        <result property="updatedBy" column="updated_by" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="FindAllFields">
        select id, username, password, name, gender, phone, id_number, forbidden, created_by, updated_by, created_at, updated_at, deleted
        from sky_tb_employee
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        <include refid="FindAllFields"/>
        <where>
            <if test="deleted != null">
                deleted = #{deleted}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by created_at desc
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        <include refid="FindAllFields"/>
        where username = #{username}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        <include refid="FindAllFields"/>
        where id = #{id}
    </select>

    <insert id="insert">
        insert into sky_tb_employee (username, password, name, gender, phone, id_number, created_by, updated_by, created_at, updated_at)
        values (#{username}, #{password}, #{name}, #{gender}, #{phone}, #{idNumber}, #{createdBy}, #{updatedBy}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="updateById">
        update sky_tb_employee
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="idNumber != null and idNumber != ''">
                id_number = #{idNumber},
            </if>
            <if test="forbidden != null">
                forbidden = #{forbidden},
            </if>
            <if test="updatedBy">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedAt">
                updated_at = #{updatedAt},
            </if>
            <if test="deleted != null">
                deleted = #{deleted}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
