# MySQL
MYSQL_VERSION=8.4.9
MYSQL_PORT=53306
MYSQL_ROOT_PASSWORD=
# PostgreSQL
POSTGRESQL_VERSION=17.9
POSTGRESQL_PORT=55432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
# Redis
REDIS_VERSION=8.6.3
REDIS_PORT=56379
REDIS_PASSWORD=
# Nacos
NACOS_VERSION=3.2.1
NACOS_PORT=58848
NACOS_GRPC_PORT=59848
NACOS_CLUSTER_GRPC_PORT=59849
NACOS_USER=superadmin
NACOS_PASSWORD=
NACOS_DB_NAME=nacos
MYSQL_SERVICE_PARAMS=characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
